{:main juliaworld.main
 :asset-path "./cljs-out/dev"
 :foreign-libs [{:file "js/pixi.js"
                 :provides ["pixi"]}]
 :optimizations :none
 :preloads [devtools.preload]
 :compiler-options {:source-map true
                    :pretty-print true}}
